.root {
    padding-left: 10%;
    padding-right: 10%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    position: sticky;
    top: 0;
    background: white;
    z-index: 3;
}

.header_previousPage {
    cursor: pointer;
}
.header_previousPage:hover {
    color: #7c7a7a;
}
.header_previousPage__message {
}

.header_movieTitle > h1 {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1rem;
}

.commentRoom {
}

.commentRoom__reply-form {
    position: sticky;
    bottom: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background: white;
}
.commentRoom__comments-container {
    min-height: 70vh;
}

@media screen and (max-width: 600px) {
    .header_previousPage__message {
        display: none;
    }
}
